// Variables
$color-primary: #2159BE;
$color-primary-light: #3C7BEE;
$color-primary-dark: #0D2455;

$color-grey: #AEAEAE;
$color-grey-light-1: #EDEDED;
$color-grey-light-2: #CECECE;
$color-grey-dark-1: #686868;
$color-grey-dark-2: #3B3B3B;


// Global reset
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Media query breakpoints
$bp-xl: 70em;   // 1120px
$bp-lg: 60em;   // 960px
$bp-md: 50em;   // 800px
$bp-sm: 37.5em;    // 600px
$bp-xs: 30em;    // 480px

// Set box sizing and font-size
html {
  box-sizing: border-box;
  font-size: 62.5%;   /* This makes 1rem = 10px */
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-xl) {
    font-size: 50%;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 95vh repeat(4, min-content);
  grid-template-columns: [sidebar-start] 14% [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-lg) {
    grid-template-rows: 8rem 95vh repeat(4, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}