/* Header component */
.header {
  background-image: linear-gradient(rgba($color-primary, .60), rgba($color-primary, .60)), url(../img/background-hero-4.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: repeat(3, min-content);

  &__img {
    margin-top: 8rem;
    border-radius: 50%;
    display: block;
    height: 12rem;
    background-position: center;
    justify-self: center;
    align-self: center;
  }

  &__main {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    justify-self: center;
    align-self: center;
  }

  &__sub {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 300;
    justify-self: center;
    align-self: start;
  }

  &__quote {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    justify-self: center;
    align-self: end;
    margin: 0 5rem;
  }

  &__author {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    justify-self: center;
    align-self: start;
    margin: 0 5rem;
  }
}


/* Nav component */
.nav {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  grid-row-gap: 1.7rem;

  @media only screen and (max-width: $bp-lg) {
    margin-top: 2.7rem;
    display: flex;
  }

  &__item {
    display: block;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-grey-light-1;
    padding: 1.2rem;
    transition: all .2s;
  }

  &__link:hover,
  &__link:focus {
    background: rgba(#fff, .07);
  }
}

/* About component */
.about {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media only screen and (max-width: $bp-lg) {
    padding: 0;
  }

  &__heading {
    margin: 4rem 0;
    font-weight: 300;
    font-size: 2.4rem;
    color: $color-grey-dark-1;
    border-bottom: 1px solid $color-grey;
  }

  &__text {
    font-size: 1.6rem;
    margin: 0 8rem;
    margin-bottom: 8rem;
    color: $color-grey-dark-1;
  }
}

/* Portfolio component */
.portfolio {
  background-image: linear-gradient(rgba($color-primary-light, .6), rgba($color-primary-light, .6)), url(../img/background-img-3.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 40rem));
  grid-gap: 5rem;
  justify-content: center;
}

.project {
  background: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-size: cover;
  }

  &__name {
    font-size: 1.8rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 80%;
    justify-self: center;
    align-self: end;
    text-align: center;
    padding: 1.25rem;
    background: $color-primary-dark;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
  }

  &__description {
    grid-column: 1 / -1;
    margin-top: 3rem;
    padding: 3rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    background: $color-primary-dark;
    color: $color-grey-light-1;
    text-decoration: none;
    padding: 1.5rem 3rem;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    background: darken($color-primary-dark, 6%);
  }
}

.resume {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    color: $color-grey-light-1;
    background: $color-primary-dark;
    border-radius: 2px;
  }

  &__link:hover,
  &__link:active {
    background: darken($color-primary-dark, 6%)
  }
}

/* Contact component */
.contact {
  background: $color-grey-light-1;
  padding: 8rem 0;

  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: repeat(3, min-content);

  @media only screen and (max-width: $bp-md) {
    grid-template-columns: 1fr .4fr;
    padding: 4rem 0;
  }

  @media only screen and (max-width: $bp-xs) {
    grid-template-columns: 1fr .2fr;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 1.8rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;

    @media only screen and (max-width: $bp-md) {
      grid-column: 1 / 2;
    }
  }

  &__form {
    margin: 0 8rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;

    grid-template-rows: repeat(4, min-content);
    grid-gap: 1.2rem;

    @media only screen and (max-width: $bp-md) {
      grid-column: 1 / 2;
    }

    input {
      height: 3rem;
      border-radius: 2px;
      border: none;
      display: block;
      border-bottom: 2px solid transparent;
      transition: all .3s;

      &:focus {
        border: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
        border-bottom: 2px solid $color-primary;
      }
    }

    textarea {
      border-radius: 2px;
      border: none;
      display: block;
      border-bottom: 2px solid transparent;
      transition: all .3s;

      &:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  &__message {
    height: 12rem;
  } 

  &__btn {
    background: $color-primary-dark;
    color: $color-grey-light-1;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 50%;
    justify-self: start;
    padding: 1rem 2rem;
    transition: all .2s;
  }

  &__btn:hover,
  &__btn:active {
    background: darken($color-primary-dark, 6%);
    transform: translateY(-2 px);
  }

  &__info {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin: 1.5rem 0;

    @media only screen and (max-width: $bp-md) {
      grid-column: 2 / 3;
    }

    &--item {
      font-size: 1.4rem;
      list-style: none;
      margin: 1.5rem 0;
      margin-right: 3rem;

      i {
        margin-right: .8rem;
      }

      a {
        color: $color-grey-dark-2;
        text-decoration: underline dotted $color-grey-dark-1;
      }
    }
  }
}

/* Footer component */
.footer {
  padding: 2rem;

  &__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--item {
      font-size: 2.5rem;
      padding: 2rem;

      a:link,
      a:visited {
        color: #fff;
        transition: all .2s;
      }

      a:hover,
      a:active {
        transform: translateY(-3px);
        color: $color-primary-dark;
      }
    }
  }

  .copyright {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }
}