/* Header */
.header {
  grid-column: full-start / full-end;
}

/* Navbar */
.sidebar {
  background: $color-primary-dark;
  grid-row : 1 / -1;
  grid-column: sidebar-start / sidebar-end;

  @media only screen and (max-width: $bp-lg) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

/* Main content */
.main-content {
  grid-column: full-start / full-end;
}

/* About section */
.about {
  background: $color-grey-light-1;
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
}

/* Portfolio section */
.portfolio {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
}

/* Contact section */
.contact {
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
}

/* Footer */
.footer {
  background: $color-primary-light;
  grid-column: full-start / full-end;

}